*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000; 

}

h1{
    color: #cf8b0b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5em;   
     padding-top: 20%; 

}

